<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">UTFPR-PB</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbarDropdownMenuLinkReq" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['convalidacao']">Convalidação</a>
          <a class="dropdown-item" [routerLink]="['requerimento']">Requerimento</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <img alt="image" class="rounded-circle" src="/src/assets/img/user.jpg" height="24"/>
      <!--<a href="https://icons8.com/web-app/21350/Gender-Neutral-User">Gender neutral user icon credits</a>-->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Usuário
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Configurações</a>
          <a class="dropdown-item" href="#">Sair</a>
        </div>
      </div>
    </form>
  </div>
</nav>
