<div class="col-md-8 col-md-offset-3">
  <h3>Requerimento de Convalidação</h3>
  <div class="row pt-3">
    <div class="form-group col-md-8">
      <label for="codigo">Código</label>
      <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Informe o R.A." width="100px">
      <label for="aluno">Aluno</label>
      <input type="text" class="form-control" id="aluno" name="aluno" placeholder="Informe o Nome do Aluno">
      <label for="coordenacao">Coordenação</label>
      <input type="text" class="form-control" id="coordenacao" name="coordenacao" placeholder="Informe o Nome do Curso">
    </div>
  </div>
</div>
