<h3>Requerimento de Convalidação <small>123</small></h3>
<hr>
<div class="row pt-3 container">
  <div class="form-group col-lg-4 col-md-12">
    <md-input-container>
      <input mdInput/>
      <md-placeholder>Código</md-placeholder>
    </md-input-container>
  </div>
  <div class="form-group col-lg-8 col-md-12">
    <md-input-container>
      <input mdInput/>
      <md-placeholder>Aluno</md-placeholder>
    </md-input-container>
  </div>
  <div class="form-group col-lg-12 col-md-12">
    <md-input-container>
      <input mdInput/>
      <md-placeholder>Coordenação</md-placeholder>
    </md-input-container>
  </div>
</div>
<app-convalidacao-items></app-convalidacao-items>
