<h3>Requerimento de Convalidação</h3>
<hr>
<div class="row pt-3 container">
  <div class="form-group col-lg-6 col-md-12">
    <md-input-container>
      <input mdInput placeholder="RA" />
    </md-input-container>
  </div>
  <div class="form-group col-lg-6 col-md-12">
    <md-input-container>
      <input mdInput placeholder="Aluno" />
    </md-input-container>
  </div>
  <div class="form-group col-lg-6 col-md-12">
    <md-input-container>
      <input mdInput placeholder="Coordenação" />
    </md-input-container>
  </div>
</div>
