<h3>Requerimento de Convalidação <small>123</small></h3>
<hr>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="row pt-3 container">
    <div class="form-group col-lg-4 col-md-12">
      <md-input-container>
        <input mdInput [(ngModel)]="convalidacao.codigo" id="codigo" name="codigo" required/>
        <md-placeholder>Código</md-placeholder>
      </md-input-container>
    </div>
    <div class="form-group col-lg-8 col-md-12">
      <md-input-container>
        <input mdInput [(ngModel)]="convalidacao.aluno" id="aluno" name="aluno" required/>
        <md-placeholder>Aluno</md-placeholder>
      </md-input-container>
    </div>
    <div class="form-group col-lg-12 col-md-12">
      <md-input-container>
        <input mdInput [(ngModel)]="convalidacao.coordenacao" id="coordenacao" name="coordenacao" required/>
        <md-placeholder>Coordenação</md-placeholder>
      </md-input-container>
    </div>
  </div>
  <app-convalidacao-items [convalidacao]="convalidacao"></app-convalidacao-items>
  <div class="row pt-3 container">
    <div class="row" style="width: 100%" *ngFor="let item of convalidacao.items">
      <div class="col-lg-4 col-md-12 align-text-vertical">{{item.codigo}}</div>
      <div class="col-lg-4 col-md-12 align-text-vertical">{{item.disciplina}}</div>
      <div class="col-lg-4 col-md-12">
        <div *ngFor="let disciplina of item.disciplinas">
          {{disciplina}}
        </div>
      </div>
    </div>
  </div>
</form>
