<h3>Requerimento <small>5000</small></h3>
<hr>
<div class="row pt-3 container">
  <div class="form-group col-lg-4 col-md-12 col-6">
    <md-input-container>
      <input mdInput id="codigo" name="codigo" required/>
      <md-placeholder>Código</md-placeholder>
    </md-input-container>
  </div>
  <div class="form-group col-lg-8 col-md-12 col-6">
    <md-input-container>
      <input mdInput id="telefone" name="telefone" required/>
      <md-placeholder>Telefone</md-placeholder>
    </md-input-container>
  </div>
  <div class="form-group col-lg-6 col-md-12 col-6">
    <md-input-container>
      <input mdInput id="aluno" name="aluno" required/>
      <md-placeholder>Aluno</md-placeholder>
    </md-input-container>
  </div>
  <div class="form-group col-lg-6 col-md-12 col-6">
    <md-input-container>
      <input mdInput id="email" name="email" required/>
      <md-placeholder>E-mail</md-placeholder>
    </md-input-container>
  </div>
  <div class="form-group col-lg-12 col-md-12 col-12">
    <md-input-container>
      <input mdInput id="curso" name="curso" required/>
      <md-placeholder>Curso</md-placeholder>
    </md-input-container>
  </div>
  <div class="form-group col-lg-12 col-md-12 col-12">
    <md-select placeholder="Selecione o Motivo do Requerimento" [(ngModel)]="motivoSelected">
      <md-option *ngFor="let motivo of motivos" [value]="motivo.key">
        {{ motivo.value }}
      </md-option>
    </md-select>
  </div>
  <div class="form-group">

  </div>
</div>
